.reg_background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../../assets/auth_bg.jpg");
    filter: brightness(0.5);
}

.autorization {
    font-family: 'Roboto', sans-serif;
    margin: 83px auto;
    width: 600px;
    max-width: 100%;
    background-color: #FFFFFF;
    padding-bottom: 20px;
    position: relative;
    z-index: 3;
}

.autorization_link {
    display: block;
    font-size: 0.8em;
    padding: 10px 30px;
    text-align: right;
    color: #D58C51;
    font-weight: 700;
}
.entry {
    color: #787878;
    font-size: 3em;
    text-align: center;
}
.autorization_entry-field {
    display: flex;
    position: relative;
    flex-direction: column;
    color: #D58C51;
    margin: 20px 46px;
}
.autorization_entry-field > input {
    height: 50px;
    position: relative;
    border: 1px solid #D58C51;
    border-radius: 25px;
}
.entry-field_required:before {
    content: '*';
    display: block;
    position: absolute;
    left: -15px;
    top: 20px;
}
.signature {
    font-size: 0.7em;
    color: #CB2424;
    padding: 5px 0px;
    display: none;
}

.autorization_label {
    font-size: 1em;
    padding-left: 10px;
}
.autorization_username {
    font-size: 1.5em;
    color: #CCCCCC;
    border-radius: 10px;
    padding-left: 15px;
}

.entry-checkbox {
    position: relative;
    color: #787878;
    margin: 10px 46px;
}
.input-checkbox {
    display: none;
}
.input-checkbox__label {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 14px;
    padding-left: 35px;
    display: inline-block;
}
.input-checkbox__label:before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: #e2e2e2;
    left: 0;
    border-radius: 20px;
    border: 2px solid #D58C51;
}

.input-checkbox:checked + .input-checkbox__label:before {
    background-image: url("../../assets/vector.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.wrapper {
    color: #131313;
    display: block;
    margin: 0px auto;
    text-align: center;
    background-color: #D58C51;
    width: 15em;
    height: 3em;
    font-weight: 700;
}

/** Стили ошибки */
.entry-field_error input {
    border-color: #CB2424;
}
.entry-field_error:before {
    color: #CB2424;
}
.entry-field_error .autorization_label {
    color: #CB2424;
}
.entry-field_error .signature {
    display: block;
}
.entry-field_error .input-checkbox__label:before {
    border-color: #CB2424;
}
.error_text {
    display: none;
    color: #CB2424;
    padding-left: 30px;
}

.success_text {
    color: green;
    padding: 5px 45px 0;
}