.header {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 1200px;
    max-width: 100%;
    position: relative;
}
.title {
    color: #ffffff;
    font-size: 3em;
    padding: 50px 70px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}
.back-button {
    position: absolute;
    top: 61px;
    left: 74px;
    width: 32px;
    height: 32px;
    font-size: 17px;
    font-weight: 700;
    border-radius: 50%;
    border: 1px solid #D58C51;
}
.full-basket {
    display: flex;
    padding: 50px 70px;
}
.basket-radius {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-top: 10px;
    background-color: #D58C51;
}
.basket {
    color: #ffffff;
    margin: 15px 20px;
    width: 152px;
    height: 42px;
    text-align: right;
    font-size: 17px;
    font-weight: 500;
}
.image-bas {
    width: 20px;
    height: 20px;
}
