.basket-item {
    display: flex;
    justify-content: space-between;
    padding: 31px 290px;
}
.basket-preview {
    width: 122px;
    height: 122px;
}
.basket-title {
    color: #ffffff;
    font-weight: 500;
    font-size: 17px;
    padding-top: 50px;
    text-align: left;
    max-width: 277px;
}
.basket-price {
    color: #D58C51;
    font-weight: 400;
    font-size: 18px;
}
.basket-cart_button {
    width: 30px;
    height: 30px;
    color: #D58C51;
    font-size: 18px;
    border-radius: 50%;
    border: 1px solid #D58C51;
}